@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap');
@import "tailwindcss";

@theme {
  --color-red: #FC4747;
  --color-darkBlue: #10141E;
  --color-greyishBlue: #5A698F;
  --color-semiDarkBlue: #161D2F;
  --color-pureWhite: #FFFFFF;

  --font-sans: "Outfit", sans-serif;

  --text-heading-l: 32px;
  --text-heading-m: 24px;
  --text-heading-s: 24px;
  --text-heading-xs: 18px;
  --text-body-m: 15px;
  --text-body-s: 13px;
}

@layer base {
  body {
    @apply bg-darkBlue text-pureWhite font-sans antialiased;
  }
}

@layer components {
  .heading-l {
    @apply text-heading-l font-light;
  }

  .heading-m {
    @apply text-heading-m font-light;
  }

  .heading-s {
    @apply text-heading-s font-medium;
  }

  .heading-xs {
    @apply text-heading-xs font-medium;
  }

  .body-m {
    @apply text-body-m font-light;
  }

  .body-s {
    @apply text-body-s font-light;
  }
}